mixin lazy-img()
	-var props = {'alt': attributes['alt'], 'class': attributes['class'], 'data-src': 'assets/images/' + attributes['data-src'] + '|assets/images/' + attributes['data-src-retina'], 'src': 'assets/images/load.svg', 'width': attributes['width'] ? attributes["width"] : false, 'height': attributes['height'] ? attributes["height"] : false};
	+b.IMG.lazy-img&attributes(props)
	noscript
		+b.IMG(
			alt='#{attributes["alt"]}'
			class='#{attributes["class"]}'
			srcset='assets/images/#{attributes["data-src-retina"]} 2x'
			src='assets/images/#{attributes["data-src"]}'
		)
