include ../lazy-img/lazy-img

mixin blog-article(previewFile, previewExt)
	+b.blog-article&attributes(attributes)
		+e.img-wrap
			+lazy-img(
				alt='article preview'
				data-src='blog/#{previewFile}.#{previewExt}'
				data-src-retina='blog/#{previewFile}@2x.#{previewExt}'
				width='480'
				height='480'
			).__img
		+e.container
			+e.HEADER.header-wrap
				+e.P.pre-header art / t-shirt
				+e.H3.header T-shirt design
			+e.P.p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a scrambled it to make a type specimen book.
			+e.A.link(role='button') Read more
				i.fa.fa-angle-double-right
